<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/banner.ejs') %>
        <p>this page currently build phase.</p>
    <%- include('./partials/copyrigth.ejs') %>
</body>
</html>