<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/banner.ejs') %>
        <section>
            <div>
                <label for="search">search a book:</label>
                <input type="text" id="search">
                <button>sumbit</button>
            </div>
        </section>
    <%- include('./partials/copyrigth.ejs') %>
</body>
</html>