<!DOCTYPE html>
<html lang="en">
<%- include('./view/partials/head.ejs') %>
<body>
    <%- include('./view/partials/banner.ejs') %>
        <section>
            <div>
                <label for="search">search a book:</label>
                <input type="text" id="search">
            </div>
        </section>
    <%- include('./view/partials/copyrigth.ejs') %>
</body>
</html>